{{#if session.isAuthenticated}}
  <span>Currently logged in! <a {{action "invalidateSession"}}>Sign out</a></span>
{{else}}
    <form class="form-signin">
      <h4 class="form-signin-heading">Please Sign In</h4>
      <label for="email" class="sr-only">Email address</label>
      {{input value=email class="form-control" type="text" placeholder="coach@gmail.com" required=true}}
      <label for="password" class="sr-only">Password</label>
      {{input value=password class="form-control" type="password" placeholder="testcoach" required=true}}
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" {{action 'authenticate' 'password'}}>Sign in</button>
    </form>
{{/if}}